# サンプルページ

これは **+layout.svelte のデザイン確認用**のサンプルページです。  
マークダウン記法のチートシートにもなるかもしれません。

## 見出し

# H1 見出し
margin確認用テキスト

## H2 見出し
margin確認用テキスト

### H3 見出し
margin確認用テキスト  

## 文章など

これは通常の文章（p）です。  
2個スペースを入れて改行することで改行することができます。  
  
2回改行するとpが分かれます。
p同士のmarginを確認できます。  
  
改行に2個のスペースが必要なおかげで、
こういった長い文も見やすく編集することができます。
この長い文はテキストの字間・行間・最大横幅などを確認する目的で入れています。
いやーやっぱ長文っていいですよね。長文を書こうと思うとなかなか書くことが見つからないんですけどね。これくらい長かったら十分でしょう。

---

水平線のmargin確認用テキスト  
  
**これは太字です**  
*これは斜体です*  
~~取り消し線を引きます~~  

## リスト

### 番号なしリスト

- リスト1
- リスト2
- リスト3
  - ネスト1
  - ネスト2

### 番号付きリスト

1. リスト1
2. リスト2
3. リスト3

## リンク

[GitHub](https://github.com)

---

## コード

### インラインコード

`console.log("hello");`

### コードブロック

```js
function hello() {
  console.log("Hello World");
}
hello();
```

## 引用

> これは引用です。  
> 複数行引用することができます。

## 画像

ダミー画像を用意するのが面倒なので見た目の確認はあまりできません。記法だけみておいてください。
![画像が表示されないときやマウスホバーで表示されるテキスト](example.com/image)

## 表

| 名前 | 説明 | 値 |
|-----|-----|----|
| width | 横幅 | 1920 |
| height | 縦幅 | 1080 |
| fps | フレームレート | 30 |

## チェックリスト

- [ ] 未完了タスク
- [x] 完了タスク

`+layout.svelte`の編集をこのページを表示した状態で行うと、記事全体の見た目を調整しやすくなります。