<script></script>
# 第二回 信号の種類① バランス信号とアンバランス信号

前回の記事ではマイクから入れた音がスピーカから鳴るまでの流れをざっくりと説明しましたが．．．今回はその続きとして，マイクやプリメインアンプ，パワーアンプの間での信号の受け渡し方の種類について説明しようと思います．正直なところ，今回の内容は実物を触っていても特に理解しづらい部分です．時間のない方・上司(先輩)等の圧力で読まざるを得ない状況にある方は下の結論部分までジャンプしましょう！

---
いきなり受け渡しの種類を説明されても想像がつかないと思うので，まずは音→電気の変換と，電気→音の変換の仕組みから抑えましょう．前回から信号信号と連呼しているのでお忘れかもしれませんが，この信号は**”電気”**の信号です．つまり，回路として成立させるには各機材の間に最低でも2本の導線が必要，ということになります．そこで手始めに，1本のケーブルを2本の導線①,②と考えましょう．それから，アンプなどのことも一度忘れてマイクとスピーカをどちらもコイルと磁石がセットになった謎の機械ということにします．(仮定)すると，マイクとスピーカをケーブルで繋いだときの回路は下の図のようになります．